@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  width: 100%;
  background-color: white;
  max-width: 1640px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

li {
  list-style: none;
  cursor: pointer;
  font-size: 14px;
  color: #666666;
}

.black-button {
  background-color: black;
  align-items: center;
  display: flex;
  padding: 10px 13px;
  gap: 15px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: white;
}

.black-button:hover {
  background-color: black;
  opacity: 0.8;
}

a {
  text-decoration: none;
}
